
.video-compare-container {
margin: 0 auto;
position: relative;
display: block;
line-height: 0;
}

.video {
width: 100%;
height: auto;
position: relative;
top: 0;
left: 0;
}

.videoMerge {
position: relative;
top: 0;
left: 0;
z-index: 10;
width: 100%;
display: block;
margin: 0 auto;
background-size: cover;
}

.cropped-video{
  width: 100%;
  overflow:hidden;
  display:block;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab {
  flex-grow: 1; /* 使每个标签平均分配可用空间 */
  text-align: center; /* 文字居中 */
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #f0f0f0;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.tab:hover {
  background-color: #e0e0e0;
}

.tab.active {
  background-color: #fff;
  border-color: #007bff;
  color: #007bff;
}

.example {
  display: none;
}

.slider__container {
  height: 50vw;
  width: auto;
  max-width: 1123px;
  overflow: hidden;
  margin: 0 auto
}

.slider__container .slider__img__bg {
  background-image: none;
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%
}

.slider__container .slider__img__bg__overlay {
  background-image: none;
  background-size: cover;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 50%;
  box-sizing: content-box;
  border-style: hidden solid hidden hidden;
  border-color: #000
}

.slider__container .slider__input {
  position: absolute;
  top: calc(50% - 13px);
  left: -3px;
  width: 100%;
  appearance: none;
  background: none;
  padding: 0;
  box-shadow: none
}

.slider__container .slider__input:active,.slider__container .slider__input:focus,.slider__container .slider__input:hover,.slider__container .slider__input:visited,.slider__container .slider__input:focus-within,.slider__container .slider__input:focus-visible {
  box-shadow: none
}

.slider__container .slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  height: 26px;
  width: 26px
}

.slider__container .slider__input::-moz-range-thumb {
  background: none;
  border: none;
  cursor: pointer;
  height: 26px;
  width: 26px
}

.slider__container .slider__button {
  pointer-events: none;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  padding: 0;
  line-height: 30px;
  position: relative
}

.slider__container .slider__button:after {
  content: '';
  display: inline-block;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  width: 5px;
  height: 5px;
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 1px);
  transform: rotate(-45deg)
}

.slider__container .slider__button:before {
  content: '';
  display: inline-block;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  position: absolute;
  width: 5px;
  height: 5px;
  top: calc(50% - 3px);
  left: calc(50% - 6px);
  transform: rotate(135deg)
}

.slider__caption {
  margin: 0 auto
}